parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    # https://phpstan.org/config-reference#vague-typehints
#    checkMissingIterableValueType: false

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config

    ignoreErrors:
        - '#Method App\\Repository\\(\w+\\)*\w+Repository::\w+\(\) should return ((array|iterable)<)?(App\\Entity\\|App\\Data\\)(\w+\\)*\w+(>)?(\|null)? but returns (object|mixed)\.#'

    # @see https://phpstan.org/user-guide/stub-files
    stubFiles:
        - tests/stubs/Doctrine/AbstractQuery.stub
