parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
